<!DOCTYPE html>
<html>
  <head>
    <title>Confirmation page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class='parentdiv'>
    <h2>You have Successfully confirm your email.</h2>
    <h3>Kindly Login to Decafit app.</h3>
     </div>
  </body>
</html>

